/* ////////////////////////////////////////////// */
/* Search Form */
/* ////////////////////////////////////////////// */
.form {
  margin-top: 10px;
  flex: 0.57;
  position: relative;
}

@media screen and (max-width: 768px) {
  .form {
    min-width: 95vw;
    margin-top: 36px;
  }
}

.form__input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  caret-color: white;
  background: transparent;
  color: white;
  padding: 0px 0px 10px 15px;
  border-bottom: 1px solid white;
}

.typehead_parent {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  color: white;
  background: black;
  width: 100%;
}

.typehead {
  padding: 1rem 2.2rem;
  font-size: 2rem;
}

.typehead:hover {
  color: black;
  background-color: var(--limeGreen);
  cursor: pointer;
}

.noneClass {
  display: none;
}
